version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: avalon_backend
    restart: always
    ports:
      - "5001:5000"
    environment:
      FLASK_ENV: development
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: avalon_frontend
    restart: always
    ports:
      - "3002:3000"
    environment:
      REACT_APP_API_URL: http://192.168.2.180:5001
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
